* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #eeeeee;
}

a,
a:hover {
    text-decoration: none;
}

.invalid-feedback {
    color: #ff0000;
    font-size: 15px;
}

div.container {
    text-align: start;
    width: 88%;
    margin: -8px auto;
}

.text-danger {
    width: fit-content;
}

/* start sections */
.register {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.register form {
    width: 600px;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    padding: 22px 14px;
    position: relative;
}

.register form .register_title {
    position: absolute;
    padding: 8px;
    top: 0px;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #a30000;
    color: #ffffff;
    width: 220px;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    border-radius: 22px;
}

.register .register_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 18px 0px;
}

.register .register_content .faild_content {
    flex-basis: 48%;
    margin: 14px 0px;
    position: relative;
    height: fit-content;
}

.register .register_content .user_type {
    flex-basis: 53%;
    margin: 14px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register .register_content .user_type label {
    margin-left: 4px;
}

.register .register_content .faild_content label {
    padding: 0px 5px;
    font-size: 15px;
    position: absolute;
    top: 0px;
    transform: translateY(-50%);
    right: 14px;
    background: #eeeeee;
}

.register .register_content .faild_content input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
    border: 1px solid #c3c3c3;
    background: #eeeeee;
}

.register form .btns {
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register form .btns .register_btn {
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: #a30000;
    color: #ffffff;
    width: 136px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.register form .btns .register_btn:hover {
    background-color: #b80101;
    color: #ffffff;
}

.register form .btns a {
    margin: 8px 0px;
    text-decoration: none;
    font-size: 18px;
}

@media(max-width : 640px) {
    .register form {
        width: 96%;
    }
}

@media(max-width : 540px) {
    .register .register_content .faild_content {
        flex-basis: 100%;
    }
}

/* ///////////  navbar ///////////////// */
.navbar {
    height: 80px;
    background: #a30000;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.navbar .nav_content {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav_content .nav_logo h1,
.navbar .nav_content .nav_logo i {
    font-size: 34px;
    font-weight: 400;
    color: #ffffff;
    display: inline-block;
}

.navbar .nav_content .nav_logo h1 {
    margin-right: 4px;
}

.navbar .nav_content .nav_link a {
    width: fit-content;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    margin: 0px 8px;
}

.navbar .nav_content .nav_link a:hover {
    color: #1919f7;
}

.navbar .nav_content .MenuIcon {
    cursor: pointer;
    color: #48cae4;
    display: none;
    font-size: 32px;
}

@media(max-width:840px) {

    /* .nav-content .Menu-hamburger,
    .navbar .nav-logo{
        line-height: 12vh;
    } */
    .navbar .nav_content .MenuIcon {
        display: block;
        color: #ffffff;
    }

    .navbar .nav_content .nav_link {
        height: fit-content;
        width: 100%;
        position: fixed;
        left: 0;
        top: -176px;
        background: #00000099;
        transition: all .4s ease-in-out;
        line-height: normal;
        padding: 10px 0px 30px;
    }


    .navbar .nav_content .nav_link.admin_nav_link {
        top: -284px;
    }

    .navbar .nav_content .nav_link a {
        font-size: 23px;
        display: block;
        width: fit-content;
        margin: 14px auto;
    }

    .navbar .nav_content .nav_link.mobile-menu {
        top: 80px;
        transition: all .4s ease-in-out;
    }
}

/********************************/
/*           courses            */
/********************************/

.courses {
    margin: 18px 0px;
}

.courses .courses_title {
    padding: 8px;
    background-color: #a30000;
    color: #ffffff;
    width: 220px;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    border-radius: 22px;
    margin: 14px auto 22px;
}

.courses .courses_content {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.courses .courses_content .course {
    flex-basis: 24%;
    margin: 10px 0px 10px 1%;
}

/* .courses .courses_content .course.course:nth-child(4/n) {
    margin-left: 0%;
} */
.courses .courses_content .course h1 {
    width: 90%;
    margin: auto;
    color: #ffffff;
    background: #0000ff;
    padding: 18px 0px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

/* .courses .courses_content .course h1:hover {
    margin: -28px auto 0px auto;
} */

.courses .courses_content .course h5 {
    width: fit-content;
    margin: 6px auto;
    color: #ffffff;
    background: #006000;
    padding: 6px 8px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

@media(max-width: 1100px) {
    .courses .courses_content .course {
        flex-basis: 32.2%;
    }
}

@media(max-width: 800px) {
    .courses .courses_content .course {
        flex-basis: 49%;
    }
}

@media(max-width: 500px) {
    .courses .courses_content .course {
        flex-basis: 100%;
        margin: 10px 0px;
    }
}

/********************************/
/*            Quize             */
/********************************/
.quize {
    margin: 20px 0px;
}

.quize .quize_title {
    padding: 8px;
    background-color: #a30000;
    color: #ffffff;
    width: 220px;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    border-radius: 22px;
    margin: auto;
}

.quize .quize_content {
    width: 90%;
    margin: 22px auto;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    padding: 12px 16px;
}

.quize .quize_content .question {
    font-size: 18px;
    margin: 6px 0px;
}

.quize .quize_content .question span {
    color: #ff0000;
}

.quize .quize_content .choices_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.quize .quize_content .choices_content .choice {
    margin: 6px 0px;
    flex-basis: 48%;
}

.quize .quize_content .choices_content .choice label {
    margin-right: 3px;
    text-transform: capitalize;
    cursor: pointer;
}

.quize .quize_content .choices_content .choice input {
    cursor: pointer;
}

.quize .quize_content .choices_content .choice label b {
    margin-left: 4px;
}

.courses .courses_content .course a {
    display: block;
    width: fit-content;
    margin: 6px auto;
    color: #ffffff;
    background: #006000;
    padding: 6px 8px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}


/********************************/
/*          materials           */
/********************************/
.courses .materials_name {
    display: inline-block;
    font-size: 26px;
    padding: 8px 6px 18px;
    font-weight: 400;
}

.courses .courses_content .materials {
    padding: 20px 0px;
}

.courses .courses_content .materials a:first-of-type {
    width: 90%;
    margin: auto;
    color: #ffffff;
    background: #0000ff;
    padding: 18px 30px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.courses .courses_content .materials a {
    display: block;
    width: fit-content;
    margin: 6px auto;
    color: #ffffff;
    background: #006000;
    padding: 8px 14px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

/********************************/
/*            table             */
/********************************/

table {
    width: fit-content;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 8px;
}

/**  tabe **/
.table_header .table-tabe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    color: #000000;
}

.table_header a {
    color: blue;
    margin: 8px 4px;
}

.table_header .table-tabe-icon i,
.table_header .table-tabe-icon a {
    margin-right: 14px;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
}

.table_header .table-tabe .tabe_back {
    color: #000000;
}

/** end tabe **/
.table_header span {
    color: #000000;
    margin: 4px;
}

.table_body {
    margin: 14px 0px;
    width: 100%;
    border-radius: 6px;
    overflow: auto;
}

.table_body table {
    width: 100%;
}

.table_body table thead tr {
    background: #a30000;
    height: 50px;
    color: #ffffff;
}

.table_body table td,
.table_body table th {
    text-align: center;
    border-right: 1px solid #ffffff;
}

.table_body table tbody tr:nth-child(even) {
    background: #e8ffff;
}

.table_body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.table_body::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgb(53, 123, 253);
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}


.table_delete {
    border: none;
    outline: none;
    width: fit-content;
    padding: 6px 8px;
    color: #ff0000;
    font-size: 18px;
    cursor: pointer;
    margin: 0px 4px;
}

.table_edit {
    border: none;
    outline: none;
    width: fit-content;
    padding: 6px 14px;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    margin: 0px 4px;
}

.show_btn {
    outline: none;
    color: #ffffff;
    width: fit-content;
    padding: 12px 34px;
    border: none;
    border-radius: 22px;
    background: #0000ff;
    font-size: 18px;
    cursor: pointer;
    margin: 12px auto 18px;
    display: block;
}

.quize_back .show_btn {
    outline: none;
    color: #ffffff;
    width: fit-content;
    padding: 12px 34px;
    border: none;
    border-radius: 22px;
    background: #0000ff;
    font-size: 18px;
    cursor: pointer;
    margin: 12px auto 18px;
    text-align: center;
    display: inline;
}


.show_btn:hover {
    background: #1919f7;
}

/********************************/
/*          end  table          */
/********************************/









/*  */
/*  */
/*  */
.question_index {
    position: absolute;
    top: -14px;
    right: -14px;
    font-size: 18px;
    background: #a30000;
    padding: 4px 9px 2px 0px;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    color: #ffffff;
}
